<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">

    
    <!-- @if NODE_ENV='development' -->    
    <link rel="stylesheet" href="assets/template/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/template/vendor/slick/slick-theme.css"/>
    <link rel="stylesheet" href="assets/template/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/template/vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <link rel="stylesheet" href="assets/template/vendor/combined.min.css">
    <link rel="stylesheet" href="assets/template/css/main.min.css">
    <!-- @endif -->
</head>
<body>


