@font-face {
    font-family: "Lato-HeavyItalic";
    src: url("Lato-HeavyItalic.eot");
    src: url("Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"),
         url("Lato-HeavyItalic.woff2") format("woff2"),
         url("Lato-HeavyItalic.woff") format("woff"),
         url("Lato-HeavyItalic.ttf") format("ttf"),
         url("Lato-HeavyItalic.svg#Lato-HeavyItalic") format("svg");
    font-style: italic;
    font-weight: heavy;
}