// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$address-name: 'address';
$address-x: 0px;
$address-y: 258px;
$address-offset-x: 0px;
$address-offset-y: -258px;
$address-width: 21px;
$address-height: 24px;
$address-total-width: 301px;
$address-total-height: 282px;
$address-image: '/assets/template/css/sprites/sprite.png';
$address: (0px, 258px, 0px, -258px, 21px, 24px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'address', );
$arrow-left-small-name: 'arrow-left-small';
$arrow-left-small-x: 284px;
$arrow-left-small-y: 100px;
$arrow-left-small-offset-x: -284px;
$arrow-left-small-offset-y: -100px;
$arrow-left-small-width: 8px;
$arrow-left-small-height: 16px;
$arrow-left-small-total-width: 301px;
$arrow-left-small-total-height: 282px;
$arrow-left-small-image: '/assets/template/css/sprites/sprite.png';
$arrow-left-small: (284px, 100px, -284px, -100px, 8px, 16px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'arrow-left-small', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 243px;
$arrow-left-y: 110px;
$arrow-left-offset-x: -243px;
$arrow-left-offset-y: -110px;
$arrow-left-width: 20px;
$arrow-left-height: 37px;
$arrow-left-total-width: 301px;
$arrow-left-total-height: 282px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (243px, 110px, -243px, -110px, 20px, 37px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-orange-down-320-name: 'arrow-orange-down-320';
$arrow-orange-down-320-x: 159px;
$arrow-orange-down-320-y: 147px;
$arrow-orange-down-320-offset-x: -159px;
$arrow-orange-down-320-offset-y: -147px;
$arrow-orange-down-320-width: 25px;
$arrow-orange-down-320-height: 17px;
$arrow-orange-down-320-total-width: 301px;
$arrow-orange-down-320-total-height: 282px;
$arrow-orange-down-320-image: '/assets/template/css/sprites/sprite.png';
$arrow-orange-down-320: (159px, 147px, -159px, -147px, 25px, 17px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'arrow-orange-down-320', );
$arrow-right-small-name: 'arrow-right-small';
$arrow-right-small-x: 292px;
$arrow-right-small-y: 100px;
$arrow-right-small-offset-x: -292px;
$arrow-right-small-offset-y: -100px;
$arrow-right-small-width: 8px;
$arrow-right-small-height: 16px;
$arrow-right-small-total-width: 301px;
$arrow-right-small-total-height: 282px;
$arrow-right-small-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-small: (292px, 100px, -292px, -100px, 8px, 16px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'arrow-right-small', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 263px;
$arrow-right-y: 110px;
$arrow-right-offset-x: -263px;
$arrow-right-offset-y: -110px;
$arrow-right-width: 20px;
$arrow-right-height: 37px;
$arrow-right-total-width: 301px;
$arrow-right-total-height: 282px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (263px, 110px, -263px, -110px, 20px, 37px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$burials-1-name: 'burials-1';
$burials-1-x: 108px;
$burials-1-y: 119px;
$burials-1-offset-x: -108px;
$burials-1-offset-y: -119px;
$burials-1-width: 51px;
$burials-1-height: 45px;
$burials-1-total-width: 301px;
$burials-1-total-height: 282px;
$burials-1-image: '/assets/template/css/sprites/sprite.png';
$burials-1: (108px, 119px, -108px, -119px, 51px, 45px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'burials-1', );
$burials-2-name: 'burials-2';
$burials-2-x: 88px;
$burials-2-y: 176px;
$burials-2-offset-x: -88px;
$burials-2-offset-y: -176px;
$burials-2-width: 45px;
$burials-2-height: 49px;
$burials-2-total-width: 301px;
$burials-2-total-height: 282px;
$burials-2-image: '/assets/template/css/sprites/sprite.png';
$burials-2: (88px, 176px, -88px, -176px, 45px, 49px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'burials-2', );
$burials-3-name: 'burials-3';
$burials-3-x: 243px;
$burials-3-y: 0px;
$burials-3-offset-x: -243px;
$burials-3-offset-y: 0px;
$burials-3-width: 41px;
$burials-3-height: 51px;
$burials-3-total-width: 301px;
$burials-3-total-height: 282px;
$burials-3-image: '/assets/template/css/sprites/sprite.png';
$burials-3: (243px, 0px, -243px, 0px, 41px, 51px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'burials-3', );
$burials-5-name: 'burials-5';
$burials-5-x: 133px;
$burials-5-y: 176px;
$burials-5-offset-x: -133px;
$burials-5-offset-y: -176px;
$burials-5-width: 51px;
$burials-5-height: 37px;
$burials-5-total-width: 301px;
$burials-5-total-height: 282px;
$burials-5-image: '/assets/template/css/sprites/sprite.png';
$burials-5: (133px, 176px, -133px, -176px, 51px, 37px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'burials-5', );
$burials-6-name: 'burials-6';
$burials-6-x: 57px;
$burials-6-y: 119px;
$burials-6-offset-x: -57px;
$burials-6-offset-y: -119px;
$burials-6-width: 51px;
$burials-6-height: 51px;
$burials-6-total-width: 301px;
$burials-6-total-height: 282px;
$burials-6-image: '/assets/template/css/sprites/sprite.png';
$burials-6: (57px, 119px, -57px, -119px, 51px, 51px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'burials-6', );
$cemetary-name: 'cemetary';
$cemetary-x: 0px;
$cemetary-y: 0px;
$cemetary-offset-x: 0px;
$cemetary-offset-y: 0px;
$cemetary-width: 66px;
$cemetary-height: 60px;
$cemetary-total-width: 301px;
$cemetary-total-height: 282px;
$cemetary-image: '/assets/template/css/sprites/sprite.png';
$cemetary: (0px, 0px, 0px, 0px, 66px, 60px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'cemetary', );
$columbaria-name: 'columbaria';
$columbaria-x: 0px;
$columbaria-y: 119px;
$columbaria-offset-x: 0px;
$columbaria-offset-y: -119px;
$columbaria-width: 57px;
$columbaria-height: 57px;
$columbaria-total-width: 301px;
$columbaria-total-height: 282px;
$columbaria-image: '/assets/template/css/sprites/sprite.png';
$columbaria: (0px, 119px, 0px, -119px, 57px, 57px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'columbaria', );
$cremation-1-name: 'cremation-1';
$cremation-1-x: 187px;
$cremation-1-y: 58px;
$cremation-1-offset-x: -187px;
$cremation-1-offset-y: -58px;
$cremation-1-width: 47px;
$cremation-1-height: 59px;
$cremation-1-total-width: 301px;
$cremation-1-total-height: 282px;
$cremation-1-image: '/assets/template/css/sprites/sprite.png';
$cremation-1: (187px, 58px, -187px, -58px, 47px, 59px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'cremation-1', );
$cremation-2-name: 'cremation-2';
$cremation-2-x: 187px;
$cremation-2-y: 117px;
$cremation-2-offset-x: -187px;
$cremation-2-offset-y: -117px;
$cremation-2-width: 47px;
$cremation-2-height: 59px;
$cremation-2-total-width: 301px;
$cremation-2-total-height: 282px;
$cremation-2-image: '/assets/template/css/sprites/sprite.png';
$cremation-2: (187px, 117px, -187px, -117px, 47px, 59px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'cremation-2', );
$cremation-3-name: 'cremation-3';
$cremation-3-x: 47px;
$cremation-3-y: 176px;
$cremation-3-offset-x: -47px;
$cremation-3-offset-y: -176px;
$cremation-3-width: 41px;
$cremation-3-height: 59px;
$cremation-3-total-width: 301px;
$cremation-3-total-height: 282px;
$cremation-3-image: '/assets/template/css/sprites/sprite.png';
$cremation-3: (47px, 176px, -47px, -176px, 41px, 59px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'cremation-3', );
$cremation-4-name: 'cremation-4';
$cremation-4-x: 128px;
$cremation-4-y: 0px;
$cremation-4-offset-x: -128px;
$cremation-4-offset-y: 0px;
$cremation-4-width: 59px;
$cremation-4-height: 59px;
$cremation-4-total-width: 301px;
$cremation-4-total-height: 282px;
$cremation-4-image: '/assets/template/css/sprites/sprite.png';
$cremation-4: (128px, 0px, -128px, 0px, 59px, 59px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'cremation-4', );
$funeral-1-name: 'funeral-1';
$funeral-1-x: 59px;
$funeral-1-y: 60px;
$funeral-1-offset-x: -59px;
$funeral-1-offset-y: -60px;
$funeral-1-width: 59px;
$funeral-1-height: 59px;
$funeral-1-total-width: 301px;
$funeral-1-total-height: 282px;
$funeral-1-image: '/assets/template/css/sprites/sprite.png';
$funeral-1: (59px, 60px, -59px, -60px, 59px, 59px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'funeral-1', );
$funeral-2-name: 'funeral-2';
$funeral-2-x: 0px;
$funeral-2-y: 60px;
$funeral-2-offset-x: 0px;
$funeral-2-offset-y: -60px;
$funeral-2-width: 59px;
$funeral-2-height: 59px;
$funeral-2-total-width: 301px;
$funeral-2-total-height: 282px;
$funeral-2-image: '/assets/template/css/sprites/sprite.png';
$funeral-2: (0px, 60px, 0px, -60px, 59px, 59px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'funeral-2', );
$funeral-3-name: 'funeral-3';
$funeral-3-x: 0px;
$funeral-3-y: 176px;
$funeral-3-offset-x: 0px;
$funeral-3-offset-y: -176px;
$funeral-3-width: 47px;
$funeral-3-height: 59px;
$funeral-3-total-width: 301px;
$funeral-3-total-height: 282px;
$funeral-3-image: '/assets/template/css/sprites/sprite.png';
$funeral-3: (0px, 176px, 0px, -176px, 47px, 59px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'funeral-3', );
$funeral-4-name: 'funeral-4';
$funeral-4-x: 128px;
$funeral-4-y: 59px;
$funeral-4-offset-x: -128px;
$funeral-4-offset-y: -59px;
$funeral-4-width: 59px;
$funeral-4-height: 59px;
$funeral-4-total-width: 301px;
$funeral-4-total-height: 282px;
$funeral-4-image: '/assets/template/css/sprites/sprite.png';
$funeral-4: (128px, 59px, -128px, -59px, 59px, 59px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'funeral-4', );
$icon-accessories-name: 'icon-accessories';
$icon-accessories-x: 243px;
$icon-accessories-y: 173px;
$icon-accessories-offset-x: -243px;
$icon-accessories-offset-y: -173px;
$icon-accessories-width: 30px;
$icon-accessories-height: 24px;
$icon-accessories-total-width: 301px;
$icon-accessories-total-height: 282px;
$icon-accessories-image: '/assets/template/css/sprites/sprite.png';
$icon-accessories: (243px, 173px, -243px, -173px, 30px, 24px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-accessories', );
$icon-building-name: 'icon-building';
$icon-building-x: 243px;
$icon-building-y: 147px;
$icon-building-offset-x: -243px;
$icon-building-offset-y: -147px;
$icon-building-width: 28px;
$icon-building-height: 26px;
$icon-building-total-width: 301px;
$icon-building-total-height: 282px;
$icon-building-image: '/assets/template/css/sprites/sprite.png';
$icon-building: (243px, 147px, -243px, -147px, 28px, 26px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-building', );
$icon-coffin-name: 'icon-coffin';
$icon-coffin-x: 284px;
$icon-coffin-y: 0px;
$icon-coffin-offset-x: -284px;
$icon-coffin-offset-y: 0px;
$icon-coffin-width: 17px;
$icon-coffin-height: 29px;
$icon-coffin-total-width: 301px;
$icon-coffin-total-height: 282px;
$icon-coffin-image: '/assets/template/css/sprites/sprite.png';
$icon-coffin: (284px, 0px, -284px, 0px, 17px, 29px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-coffin', );
$icon-confession-name: 'icon-confession';
$icon-confession-x: 208px;
$icon-confession-y: 176px;
$icon-confession-offset-x: -208px;
$icon-confession-offset-y: -176px;
$icon-confession-width: 30px;
$icon-confession-height: 21px;
$icon-confession-total-width: 301px;
$icon-confession-total-height: 282px;
$icon-confession-image: '/assets/template/css/sprites/sprite.png';
$icon-confession: (208px, 176px, -208px, -176px, 30px, 21px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-confession', );
$icon-cross-name: 'icon-cross';
$icon-cross-x: 284px;
$icon-cross-y: 29px;
$icon-cross-offset-x: -284px;
$icon-cross-offset-y: -29px;
$icon-cross-width: 16px;
$icon-cross-height: 29px;
$icon-cross-total-width: 301px;
$icon-cross-total-height: 282px;
$icon-cross-image: '/assets/template/css/sprites/sprite.png';
$icon-cross: (284px, 29px, -284px, -29px, 16px, 29px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-cross', );
$icon-dops-name: 'icon-dops';
$icon-dops-x: 243px;
$icon-dops-y: 51px;
$icon-dops-offset-x: -243px;
$icon-dops-offset-y: -51px;
$icon-dops-width: 30px;
$icon-dops-height: 30px;
$icon-dops-total-width: 301px;
$icon-dops-total-height: 282px;
$icon-dops-image: '/assets/template/css/sprites/sprite.png';
$icon-dops: (243px, 51px, -243px, -51px, 30px, 30px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-dops', );
$icon-infrastucture-name: 'icon-infrastucture';
$icon-infrastucture-x: 243px;
$icon-infrastucture-y: 81px;
$icon-infrastucture-offset-x: -243px;
$icon-infrastucture-offset-y: -81px;
$icon-infrastucture-width: 28px;
$icon-infrastucture-height: 29px;
$icon-infrastucture-total-width: 301px;
$icon-infrastucture-total-height: 282px;
$icon-infrastucture-image: '/assets/template/css/sprites/sprite.png';
$icon-infrastucture: (243px, 81px, -243px, -81px, 28px, 29px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-infrastucture', );
$icon-monument-name: 'icon-monument';
$icon-monument-x: 184px;
$icon-monument-y: 176px;
$icon-monument-offset-x: -184px;
$icon-monument-offset-y: -176px;
$icon-monument-width: 24px;
$icon-monument-height: 27px;
$icon-monument-total-width: 301px;
$icon-monument-total-height: 282px;
$icon-monument-image: '/assets/template/css/sprites/sprite.png';
$icon-monument: (184px, 176px, -184px, -176px, 24px, 27px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-monument', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 287px;
$icon-phone-y: 116px;
$icon-phone-offset-x: -287px;
$icon-phone-offset-y: -116px;
$icon-phone-width: 10px;
$icon-phone-height: 10px;
$icon-phone-total-width: 301px;
$icon-phone-total-height: 282px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (287px, 116px, -287px, -116px, 10px, 10px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-textil-name: 'icon-textil';
$icon-textil-x: 243px;
$icon-textil-y: 197px;
$icon-textil-offset-x: -243px;
$icon-textil-offset-y: -197px;
$icon-textil-width: 30px;
$icon-textil-height: 24px;
$icon-textil-total-width: 301px;
$icon-textil-total-height: 282px;
$icon-textil-image: '/assets/template/css/sprites/sprite.png';
$icon-textil: (243px, 197px, -243px, -197px, 30px, 24px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-textil', );
$icon-wreath-name: 'icon-wreath';
$icon-wreath-x: 159px;
$icon-wreath-y: 119px;
$icon-wreath-offset-x: -159px;
$icon-wreath-offset-y: -119px;
$icon-wreath-width: 25px;
$icon-wreath-height: 28px;
$icon-wreath-total-width: 301px;
$icon-wreath-total-height: 282px;
$icon-wreath-image: '/assets/template/css/sprites/sprite.png';
$icon-wreath: (159px, 119px, -159px, -119px, 25px, 28px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'icon-wreath', );
$mail-contact-name: 'mail-contact';
$mail-contact-x: 23px;
$mail-contact-y: 235px;
$mail-contact-offset-x: -23px;
$mail-contact-offset-y: -235px;
$mail-contact-width: 25px;
$mail-contact-height: 18px;
$mail-contact-total-width: 301px;
$mail-contact-total-height: 282px;
$mail-contact-image: '/assets/template/css/sprites/sprite.png';
$mail-contact: (23px, 235px, -23px, -235px, 25px, 18px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'mail-contact', );
$menu-arrow-right-name: 'menu-arrow-right';
$menu-arrow-right-x: 287px;
$menu-arrow-right-y: 126px;
$menu-arrow-right-offset-x: -287px;
$menu-arrow-right-offset-y: -126px;
$menu-arrow-right-width: 8px;
$menu-arrow-right-height: 10px;
$menu-arrow-right-total-width: 301px;
$menu-arrow-right-total-height: 282px;
$menu-arrow-right-image: '/assets/template/css/sprites/sprite.png';
$menu-arrow-right: (287px, 126px, -287px, -126px, 8px, 10px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'menu-arrow-right', );
$menu-border-name: 'menu-border';
$menu-border-x: 284px;
$menu-border-y: 116px;
$menu-border-offset-x: -284px;
$menu-border-offset-y: -116px;
$menu-border-width: 3px;
$menu-border-height: 34px;
$menu-border-total-width: 301px;
$menu-border-total-height: 282px;
$menu-border-image: '/assets/template/css/sprites/sprite.png';
$menu-border: (284px, 116px, -284px, -116px, 3px, 34px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'menu-border', );
$morgue-name: 'morgue';
$morgue-x: 187px;
$morgue-y: 0px;
$morgue-offset-x: -187px;
$morgue-offset-y: 0px;
$morgue-width: 56px;
$morgue-height: 58px;
$morgue-total-width: 301px;
$morgue-total-height: 282px;
$morgue-image: '/assets/template/css/sprites/sprite.png';
$morgue: (187px, 0px, -187px, 0px, 56px, 58px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'morgue', );
$phone-contact-name: 'phone-contact';
$phone-contact-x: 0px;
$phone-contact-y: 235px;
$phone-contact-offset-x: 0px;
$phone-contact-offset-y: -235px;
$phone-contact-width: 23px;
$phone-contact-height: 23px;
$phone-contact-total-width: 301px;
$phone-contact-total-height: 282px;
$phone-contact-image: '/assets/template/css/sprites/sprite.png';
$phone-contact: (0px, 235px, 0px, -235px, 23px, 23px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'phone-contact', );
$search-white-name: 'search-white';
$search-white-x: 284px;
$search-white-y: 58px;
$search-white-offset-x: -284px;
$search-white-offset-y: -58px;
$search-white-width: 15px;
$search-white-height: 15px;
$search-white-total-width: 301px;
$search-white-total-height: 282px;
$search-white-image: '/assets/template/css/sprites/sprite.png';
$search-white: (284px, 58px, -284px, -58px, 15px, 15px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'search-white', );
$search-name: 'search';
$search-x: 284px;
$search-y: 73px;
$search-offset-x: -284px;
$search-offset-y: -73px;
$search-width: 15px;
$search-height: 15px;
$search-total-width: 301px;
$search-total-height: 282px;
$search-image: '/assets/template/css/sprites/sprite.png';
$search: (284px, 73px, -284px, -73px, 15px, 15px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'search', );
$site-map-512-name: 'site-map-512';
$site-map-512-x: 284px;
$site-map-512-y: 88px;
$site-map-512-offset-x: -284px;
$site-map-512-offset-y: -88px;
$site-map-512-width: 16px;
$site-map-512-height: 12px;
$site-map-512-total-width: 301px;
$site-map-512-total-height: 282px;
$site-map-512-image: '/assets/template/css/sprites/sprite.png';
$site-map-512: (284px, 88px, -284px, -88px, 16px, 12px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'site-map-512', );
$support-1-name: 'support-1';
$support-1-x: 66px;
$support-1-y: 0px;
$support-1-offset-x: -66px;
$support-1-offset-y: 0px;
$support-1-width: 62px;
$support-1-height: 58px;
$support-1-total-width: 301px;
$support-1-total-height: 282px;
$support-1-image: '/assets/template/css/sprites/sprite.png';
$support-1: (66px, 0px, -66px, 0px, 62px, 58px, 301px, 282px, '/assets/template/css/sprites/sprite.png', 'support-1', );
$spritesheet-width: 301px;
$spritesheet-height: 282px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($address, $arrow-left-small, $arrow-left, $arrow-orange-down-320, $arrow-right-small, $arrow-right, $burials-1, $burials-2, $burials-3, $burials-5, $burials-6, $cemetary, $columbaria, $cremation-1, $cremation-2, $cremation-3, $cremation-4, $funeral-1, $funeral-2, $funeral-3, $funeral-4, $icon-accessories, $icon-building, $icon-coffin, $icon-confession, $icon-cross, $icon-dops, $icon-infrastucture, $icon-monument, $icon-phone, $icon-textil, $icon-wreath, $mail-contact, $menu-arrow-right, $menu-border, $morgue, $phone-contact, $search-white, $search, $site-map-512, $support-1, );
$spritesheet: (301px, 282px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
